h1.o {color:green;background-color:brown}
p{background-color:yellow}
div{background-color:grey;margin:5px;padding:5px}
span{color:white;background-color:black;margin:5px;padding:5px;}
h1{display:block}